@import "normalize";
@import "flexboxgrid";

$bg-color-light: #f1f2f0;
$bg-color-dark: #026873;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$white: #fff;
$black: #111;

.lined-paper {
  background-color: $white;
  color: $black;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.argyle {
  // background-color: #6d695c;
  background-color: $bg-color-dark;
  color: $white;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}

.stripes {
  background-color: $bg-color-dark;
  color: $white;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

header {
  @extend .stripes;
  // background-color: $accent-gray;
  h1 {
    font-size: 24px;
    margin: 0px;
  }
}

.tabs {
  background-color: $bg-color-dark;
  color: $white;
}

footer {
  @extend .stripes;
  // background-color: $accent-gray;
  font-size: 0.75em;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.currency{
  color: $accent-black;
  font-size: 0.6em;
  margin: 0.5em;
}

.total {
  float: right;
  color: $accent-blue;
}

.transaction {
  .description {
    color: $accent-black;
  }
}

@media only screen and (max-width: 48em) {
  .transaction .payee {
    float: right;
  }
}

.button.col-xs {
  padding: 0;
  margin-right: 0.5rem;
  margin-right: 0.5rem;
}
